body {
    min-height: 100vh;
    background-color: aquamarine !important;

}

h1 {
    text-align: center;
    padding-top: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: lightseagreen;
}

.honorbox {
    display: flex;
    justify-content: flex-end;
}


.honorbox p {
    font-size: 8px;

}

.card-answer {
    margin: 4px;
    border: solid black 1px;
    padding: 2px;
}

.card-answer:hover {
    background-color: rgba(182, 195, 58, 0.313);
    cursor: pointer;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}