body {
    min-height: 100vh;
    background-color: aquamarine !important;

}

h1 {
    text-align: center;
    padding-top: 14px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: lightseagreen;
}

.honorbox {
    display: flex;
    justify-content: flex-end;
}


.honorbox p {
    font-size: 8px;

}

.card-answer {
    margin: 4px;
    border: solid black 1px;
    padding: 2px;
}

.card-answer:hover {
    background-color: rgba(182, 195, 58, 0.313);
    cursor: pointer;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-success, .bg-danger {
    color: white;
}

.endscreen-body-1 img {
    position: absolute;
    right: 0;
    top: 15vh;
}

.endscreen-body-2 img {
    position: absolute;
    left: 0;
    top: 50vh;
    transform: scaleX(-1);
}
.progress-bar {
    background-color: rgba(0, 0, 0, 0.15);
}

.honorbox2 {
position: absolute;
bottom: 0;
}

.honorbox2 p {
    font-size: 8px;
color: white;
}